body{
  background:url('images/bg2.jpg') no-repeat center fixed;
  background-size:cover;
  margin-bottom: 100px;
  height: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  background-color: pink;
  border-color: black;
  color: black;
  padding: 10px 32px;
  cursor: pointer;
}

main{
  width: 100vw;
  margin: 0 auto;
  padding: 30px 20px;
  min-height: calc(100vh - 211px - 58px);
}

footer{
  text-align: center;
  padding: 20px;
  color: white;
  background-color: black;
}

/*navigation bar*/
/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ff99c2;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #b30000;
  color: white;
}

/* Add a background color to the top navigation */
.navbar {
  background-color: #330014;
  overflow: hidden;
}

/*top header (e-portfolio,about,resume,skills,contact)*/
.header{
  color: black;
  background: #ff944d;
  text-align: center;
  font-family: 'serif', 'monospace';
  text-shadow: 2px 2px 8px white;
}

/*home*/
.row{
  display: flex;
  height: 88%;
  align-items: center;
}

.col{
  flex-basis: 40%;
}

.col h1{
  color: black;
  text-shadow: 2px 2px 8px #b34700;
  font-size: 50px;
}

.card{
  width: 230px;
  height: 290px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 20px 30px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
}

.card:hover{
  transform: translateX(-10px);
}

.card1{
  background-image: url(images/picture.jpeg);
}

.card2{
  background-image: url(images/p2.jpeg);
}

.col h5{
  background: black;
  text-align: center;
  color: pink;
  font-size: 20px;
}

.card:hover{
  transform: translate(-10px);
}

/*about*/
.topabout{
  width: 80%;
  height: 330px;
  border-radius: 20px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
  display: flex;
  margin: 4% auto 60px;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}

.topabout img{
  height: 300px;
  border-radius: 20px;
}

.text-topabout{
  width: 550px;
}

.text-topabout p:nth-child(1){
  color: #403e3e;
  font-family: myriad pro;
  font-weight: bold;
  font-size: 33px;
  line-height: 0px;
  text-align: center;
}

.text-topabout p:nth-child(3){
  color: #3e3d3d;
  font-family: calibri;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.text-topabout p:nth-child(5){
  color: black;
  font-family: calibri;
  font-weight: bold;
  font-size: 20px;
}

.gallery{
  text-align: center;
  cursor: pointer;
}

.gallery h3{
  text-align: center;
}

video:hover{
box-shadow: 10px 10px 10px #707b7c;
 transform: scale(0.9);
}

.favwebdesigner{
  width: 80%;
  height: 200px;
  border-radius: 20px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.2);

  margin: 4% auto 60px;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}

.favwebdesigner h5{
  text-align: center;
  font-size: 17px;
}

.favwebdesigner ul{
  align-items: center;
  font-size: 30px;
  text-align: center;
  list-style: inside;
}

.favwebdesigner p:nth-child(1){
  color: #403e3e;
  font-family: myriad pro;
  font-weight: bold;
  font-size: 33px;
  text-align: center;
}

.favwebdesigner a{
  color: #99003d;
}

/*resume*/
.btnD{
  background-color: #b30047;
  color: white;
  text-align: center;
  margin: auto;
  padding: 10px 32px;
  cursor: pointer;
  font-size: 20px;
  height: 50px;
  width: 220px;
}

.btnD a{
  color: white;
}

.btnD a:hover{
  color: orange;
}

.centerPic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.centerButton{
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  height: 200px;
}

/*skills*/
.topskill{
  width: 800px;
  margin: 60px auto;
  color: pink;
  border-radius: 0.3px;
  box-shadow: 5px 3px 40px rgba(0,0,0,0.2);
  background: #333;
  list-style: none;
  padding: 6px 10px 15px;
}

.topskill h2{
  margin: 20px 0;
  align-items: center;
  text-align: center;
  color: hotpink;
}

.bar{
  background: pink;
  display: block;
  height: 2px;
  border: 1px solid rgba(0,0,0,0.3)
  border-radius3px;
  overflow: hidden;
  box-shadow: 0 0 10px #2187e7b3;
}

.bar span{
  height: 2px;
  float: left;
  background: red;
}

.html{
  width: 90%;
  animation: html 2s;
}

.css{
  width: 65%;
  animation: html 2s;
}

.javascript{
  width: 55%;
  animation: html 2s;
}

.java{
  width: 45%;
  animation: html 2s;
}

.database{
  width: 80%;
  animation: html 2s;
}

@keyframes html{
  0%{
    width: 0%;
  }
  100%{
    width: 90%
  }
}

@keyframes css{
  0%{
    width: 0%;
  }
  100%{
    width: 65%
  }
}

@keyframes javascript{
  0%{
    width: 0%;
  }
  100%{
    width: 55%
  }
}

@keyframes java{
  0%{
    width: 0%;
  }
  100%{
    width: 45%
  }
}

@keyframes database{
  0%{
    width: 0;
  }
  100%{
    width: 80%
  }
}

table{
  z-index: 2;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  box-shadow: 0 2px 12px rgba(32,32,32,.3);
  background: pink;
  width: 90%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
}

th{
  background: #ff3385;
  color: white;
  font-size: 30px;
  align-items: center;
  text-align: center;
}

td{
  font-size: 25px;
}

/*form*/
.message{
  padding: 40px 0;
  background-size: cover;
}

.message h3{
  text-align: center;
  color: brown;
}

.border{
  width: 220px;
  height: 10px;
  background: black;
  margin: 20px auto;
}

.contact-form:hover{
  box-shadow: 0 0 10px 4px #34495e;
}

.contact-form{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
  font-size: 18px;
}

/*footer*/
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem 0 3rem 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: white;
}

.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;
}

.socials a:hover i{
  color: #b300b3;
}

.footer-bottom{
  background: black;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  color: white;
  font-weight: 200
}